/* You can add global styles to this file, and also import other style files */

/* Provide sufficient contrast against white background */
@import '~bootstrap/dist/css/bootstrap.min.css';
a {
  color: #0366d6;
}

code {
  color: #e01a76;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

fieldset {
  background-repeat: no-repeat;
  background-position: left;
  background-size: cover; 
  font-size: 13px;
}

#admin-content {
  padding-left: 42px;
}

#admin-content-2 {
  padding-left: 25px;
}

#legend1 {
  width: 350px;
  padding: 10px 20px;
  font-size: 13px;
  margin-left: 8px;
}

#legend2 {
  width: 200px;
  padding: 10px 20px;
  font-size: 13px;
  margin-left: 8px;
}

.nav {
  padding-top: 10px;
}

.form-radio-buttons {
  padding: 2px 20px;
}
